.base-header {
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 5px;
}

.base-block-content {
    padding-top: 60px;
}

@media only screen and (max-width: 992px) {
    .base-block-content {
        padding-top: 150px;
    }
}

.logout {
    padding-right: 80px;
}

.vertical-align {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
}
