{% extends 'base.html' %}
{% block title %}Change password{% endblock %}

{% block content %}

    <div class="login-register-form">
        <h2>Change password</h2>
        <form method="post">
            {% csrf_token %}
            <div>
                <div>
                    <div class="form-group">
                        <label for="password">New password: </label>
                        <input id="password" type="password" name="password" value="{{ password }}"/>
                    </div>
                    <div class="form-group">
                        <label for="repeated_password">Repeat new password: </label>
                        <input id="repeated_password" type="password" name="repeated_password" value="{{ repeated_password }}"/>
                    </div>
                    <button class="btn btn-success" type="submit">Change password</button>
                </div>
            </div>
        </form>

    </div>


{% endblock content %}