{% load pipeline %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello World</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% stylesheet 'bootstrap' %}
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="navbar-header">
                    <a class="navbar-brand">
                        <img src="{% static 'images/xp-logo.png' %}" class="navbar-logo">
                    </a>
                </div>
            </div>
            <div class="col-sm-9">
                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href='{% url 'logout' %}'>
                                <span class="glyphicon glyphicon-log-out"></span> Log out
                            </a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container base-block-content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
